.progressBar-container {
    width: 400px;
    display: flex;
    padding: 5px;
    // border: 1px solid black;
    .lable{
        display: flex;
        align-items: center;
        padding: 10px;
        align-items: center;
        // border: 1px solid black;
    }
    .info{
        border: 1px solid black;
        display: flex;
        justify-content: space-around;
    }
    .progressBar {
        display: flex;
        width: 324px;
        height: 50px;
        // border: 1px solid black;
        align-items: center;
        // justify-content: center;
        position: relative;
    }

    .progressBar-indicator {
        box-sizing: border-box;
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        cursor: move;
        z-index: 10;
        color: red;
        background-color: $main;
        color: #fff;
    }

    #left-indicator {
        left: 0px;
    }

    #right-indicator {
        left: 300px;
    }

    .progressBar-fill-container {
        box-sizing: border-box;
        width: 100%;
        height: 8px;
        border-radius: 4px;
        background-color: #CCCCCC;

        #progressBar-fill {
            width: 324px;
            height: 8px;
            position: absolute;
            background-color: $main;
        }
    }
}