//Variables

//Colors
$testred: #EF4B46;
$testblue: dodgerblue;
$testyellow: rgba(239, 181, 67, 1);
$testwidth: 680px;

$main:#07CCAB;
$main-light: #EBF9F5;
$border-color:#EEEEEE;
$disable:#A3A3A3;
$remove:#CC5252;
$background: #FCFDFF;